.App {
  text-align: center;
}

.Nav-bar {
  background-color: #b2ebd0;
  height: 7vh;
  /* display: flex; */
  /* align-items: center; */
  overflow: hidden;
  /* white-space: nowrap; */
}

.Nav-bar h4 {
  font-family: cursive, Georgia, 'Times New Roman', Times, serif;
  padding-left: 20px;
  font-weight: normal;
}

.Nav-bar a {
  float: left;
  /* position: right; */
  padding-right: 16px;
  font-size: 17px;
}

.Nav-bar-right {
  background-color: #FF0000;
  float: right;
  /* padding-right: 60px; */
}
