* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  height: 100vh;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  text-align: center;
  background-color: #aaa;
}

.home {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: absolute;
  width: 25vh;
}

.right-home {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  position: absolute;
  width: 25vh;
  transform: translateX(191%);
}

nav {
  background-color: #7ea3d4;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

nav h4 {
  font-family: cursive, Georgia;
  font-weight: normal;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 4vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%)
}