* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
  height: 93vh;
}

.left, .right {
  width: 15%;
  background-color: #15202b;
}

.middle {
  width: 70%;
  text-align: center;
  background-color: #15202b;
}

.h-content {
  outline: 1px solid rgba(255, 255, 255, 0.61);
  padding: 1px;
  color: white;
  background-color: #15202b;
}

.home {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 93vh;
  position: absolute;
  width: 25vh;
}

.right-home {
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 93vh;
  position: absolute;
  width: 25vh;
  transform: translateX(191%);
}

nav {
  background-color: #15202b;
  outline: 2px solid white;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

nav h4 {
  font-family: cursive, Georgia;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav-links :active {
  border-bottom: 4px solid white;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

/* https://youtu.be/gXkqy0b4M5g?t=1202 */
@media screen and (max-width: 760px) {
  header, body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 93vh;
    top: 4.6vh;
    background-color: #5D4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  /* .nav-links li {
    opacity: 0;
  } */

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
